/* style.sccs */
* {
  font-family: raleway;
}
.ba-banner {
  height: 100vh;
}
.ba-logo {
  color: #ededed;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.ba-hero {
  height: calc(100vh - 85px);
  background: {
    image: url(../img/hearo.jpeg);
    size: cover;
    color: #000;
  }
  padding: 9vh 0 7.5vh;
  color: #ffffff;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    padding-right: 170px;
  }
  &__bottom {
    text-align: center;
  }
  &__scroll {
    display: inline-block;
    height: 67px;
    width: 45px;
    background: {
      image: url(../img/mouse-icon.png);
      size: contain;
      repeat: no-repear;
    }
  }
  &__title {
    font-size: 36px;
    text-transform: uppercase;
    // font-family: "Raleway";
  }

  &__text {
    font-weight: 400;
    letter-spacing: 3px;
  }
}

.ba-menu {
  display: flex;
  align-items: center;
}

.ba-menu-btn {
  border: none;
  font-size: 24px;
  color: #ededed;
  position: relative;
  display: flex;
  // width: 79px;
  // height: 17px;
  background-color: transparent;
}
.ba-menu-btn__lines {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.ba-menu-btn__line {
  display: block;
  color: #ededed;
  height: 2px;
  background-color: #60606e;
}
.ba-menu-btn__line:nth-child(2) {
  margin: 8px 0;
}

.ba-menu__link {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}
.ba-header {
  height: 79px;
  -webkit-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.45);
}

.ba-logo-black {
  color: #000;
  position: relative;
  flex-grow: 4;
}

.ba-nav {
  flex-grow: 3;
}
.ba-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  &__item {
    position: relative;
    text-decoration: none;
    list-style: none;
  }
  &__link {
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.ba-section {
  text-align: center;
  &__title {
    font-size: 30px;
    font-weight: 400;
  }
  &__desc {
    font-size: 18px;
    font-weight: 400;
  }
}
.ba-text {
  font-size: 14px;
  font-weight: 400;
}

// products

.ba-product {
  text-align: center;

  &__thumb {
    padding: 0 1em;
  }
  &__img {
    max-width: 100%;
  }
  &__info {
    font-size: 24px;
    font-weight: 700;
    
  }
  &__title{
    text-transform: uppercase;
  }
  &__link {
    font-size: 18px;
    font-weight: 400;
  }
}
